<div class="grid-container" style="display: grid;
grid-template-columns: 3fr 1fr;
grid-gap: 10px;">
  <div class="grid-child purple">  
      
    <h1> list of movies </h1> 
    <p>enter a movie name</p> 
    <br>
    <input type="text" [(ngModel)]="name">
    <br>
    <br>
    <table style='border-width: 2px;'>
      <tr>
        <th colspan="4">title</th>
        <th colspan="3">year</th>
        <th colspan="8">plot</th>
      </tr>
      <tr *ngFor="let movie of moviesVar| myfilter:name | async ">
        <td colspan="4"><a href="movies/{{movie.id}}" >{{movie.title }}</a></td>
        <td colspan="3">{{ movie.year }}</td>  
        <td colspan="8">{{ movie.plot }}</td>  
      </tr>
    </table>  
  </div>  

  <div *ngIf="data != '0' " class="grid-child green">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul *ngFor="let movie of moviesVar | async ">
      <li *ngIf="movie.id == data">
        <h3>name: {{movie.title}}</h3>
        <h5>export year: {{movie.year}}</h5>
        <h5>plot: {{movie.plot}}</h5>
        <h5><a href="{{movie.posterUrl}}">{{movie.posterUrl}}</a></h5>
        <h5>runtime: {{movie.runtime}}</h5>
        <h5>geners: {{movie.genres}}</h5>
        <h5>directed by: {{movie.director}}</h5>
        <h5>actors: {{movie.actors}}</h5>
      </li>
    </ul>
  </div>

</div>